<%= form_with model: @shelter do |form| %>
  <div class="form-field mb-4">
    <%= form.label :name, class: "font-bold w-32 inline-block" %>
    <%= form.text_field :name, class: "border rounded-md p-2 focus:outline-none focus:ring focus:border-blue-300" %>
  </div>
  <div class="form-field mb-4">
    <%= form.label :city, class: "font-bold w-32 inline-block" %>
    <%= form.text_field :city, class: "border rounded-md p-2 focus:outline-none focus:ring focus:border-blue-300" %>
  </div>
  <div class="form-field mb-4">
    <%= form.label :rank, class: "font-bold w-32 inline-block" %>
    <%= form.number_field :rank, class: "border rounded-md p-2 focus:outline-none focus:ring focus:border-blue-300" %>
  </div>
  <div class="form-field">
    <%= form.submit(class: "block p-2 bg-gray-500 text-white border w-32 text-center rounded-md my-4 inline-block") %>
  </div>
<% end %>
