<li class="shelter">
  <%= link_to shelter_path(shelter) do %>
      <h2><%= shelter.name %></h2>
    <div class="details">
      <p><%= shelter.pets_count %> pets</p>
      <p>
        <span class="text-gray-500"><em>created</em>
          <%= "#{time_ago_in_words(shelter.created_at)} ago" %>
      </span>
      </p>
    </div>
  <% end %>
  <div class="action-links">
    <%= link_to "Edit", edit_shelter_path(shelter) %>
    <%= link_to "Delete", shelter_path(shelter), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
</li>
