<h2>All Shelters</h2>
<div class="section-top">
  <div class="filters">
    <%= form_with url: request.path, method: :get, class: "vertical filter-form" do |form| %>
        <label for="name" class=" header">Filter by name</label>
        <%= form.text_field :name, value: params[:name] %>
        <label for="exact">
          <%= check_box_tag(:exact, "true", (params.key?(:exact))) %>
          Exact match
        </label>
        <%= button_tag class: "filter-button btn-white" do %>
          <span class="icon-filter">Filter</span>
        <% end %>
    <% end %>
    <div class="horizontal filter-form">
      <span class="text-sm">Sort by pets count: </span>
      <%= button_to request.path, id:"sort-asc", class: "filter-button btn-white", params: { sort: "asc" }, method: :get do %>
        <span class="icon-sort-name-up"></span>
      <% end %>
      <%= button_to request.path, id:"sort-desc", class: "filter-button btn-white", params: { sort: "desc" }, method: :get do %>
        <span class="icon-sort-name-down"></span>
      <% end %>
    </div>
  </div>
  <div class="buttons">
    <%= link_to new_shelter_path, class: "link-as-button btn-white" do %>
      <span class="icon-plus">New Shelter</span>
    <% end %>
  </div>
</div>

<ul class="shelters">
  <%= render @shelters %>
</ul>
