<h1><%= @shelter.name %></h1>
<div class="shelter-deatils">
  <p><span>City:</span> <%= @shelter.city %></p>
  <p><span>Rank:</span> <%= @shelter.rank %></p>
  <%= link_to "New Pet", new_shelter_pet_path(@shelter)%>
  <% unless @pets.blank? %>
    <h2>Pets</h2>
    <%= render @pets, local: { hide_owner: true } %>
  <% end %>
  <%= link_to "Edit", edit_shelter_path(@shelter) %> |
  <%= link_to "Delete", shelter_path(@shelter), method: :delete %>
</div>
