<h2>Shelter Details: <%= @shelter.name.upcase %></h2>
<div class="section-top shelter-details">
  <p class="justify-right">
    <%= link_to "Edit", edit_shelter_path(@shelter), class: "btn-md hover-blue" %>
    <%= link_to "Delete", shelter_path(@shelter),
                class: "btn-md hover-red", method: :delete, data: { confirm: "Are you sure?" } %>
  </p>
<div class="-mt-40">
  <p><span>City:</span> <%= @shelter.city %></p>
  <p><span>Rank:</span> <%= @shelter.rank %></p>
  <p><span>Pets Count:</span> <%= @shelter.pets.size %></p>

</div>

  <p>
    <%= link_to "Show Pets", shelter_pets_path(@shelter), class: "btn-lg hover-yellow" %>
    <%= link_to "New Pet", new_shelter_pet_path(@shelter), class: "btn-lg hover-blue" %>
  </p>

  <% if @pets %>
    <h3>Pets under <%= @shelter.name %></h3>
    <%= render "filter_form" %>
    <ul class="pets">
      <%= render @pets, local: { hide_owner: true } %>
    </ul>
  <% end %>
</div>
