<div class="horizontal filter-form line-form">
  <span class="text-sm">Filters: </span>
  <%= form_with url: request.path, method: :get, local: true do |form| %>
    <%= form.label :age_filter, "age greater than: " %>
    <%= form.text_field :age_filter, value: (params[:age_filter] || 0), min: 0 %>
    <%= button_tag class: "btn-md btn-white" do %>
      <span class="icon-filter"></span>
    <% end %>
  <% end %>
  <%= button_to request.path, id:"sorted", class: "btn-md btn-white", params: { sorted: true }, method: :get do %>
    <span class="icon-sort-name-up"></span>
  <% end %>
</div>
