<% @form_model = local_assigns.dig(:locals, :form_objects) || @pet %>
<%= form_with model: @form_model do |form| %>
  <div class="form-field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="form-field">
    <%= form.label :breed %>
    <%= form.text_field :breed %>
  </div>
  <div class="form-field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>
  <div class="form-field">
    <%= form.submit %>
  </div>
<% end %>
