<li class="pet">
  <%= link_to pet_path(pet) do %>
    <div class="details">
      <p><span>Name:</span><%= pet.name %></p>
      <p><span>Breed:</span><%= pet.breed %></p>
      <p><span>Age:</span><%= pet.age %></p>
      <% unless local_assigns.dig(:local, :hide_owner) %>
        <p>
          <span>Shelter:</span>
          <%= pet.shelter_name %>
        </p>
      <% end %>
    </div>
  <% end %>
</li>
