<h2>All Pets</h2>
<div class="section-top">
  <div class="filters">
    <%= form_with url: request.path, method: :get, class: "vertical filter-form" do |form| %>
      <label for="name" class=" header">Filter by name</label>
      <%= form.text_field :name, value: params[:name] %>
      <label for="exact">
        <%= check_box_tag(:exact, "true", (params.key?(:exact))) %>
        Exact match
      </label>
      <%= button_tag class: "filter-button btn-white" do %>
        <span class="icon-filter">Filter</span>
      <% end %>
    <% end %>
  </div>
</div>

<ul class="pets">
  <%= render @pets %>
</ul>
