<h2>Pet Details: <%= @pet.name.upcase %></h2>
<div class="section-top pet-details">
  <p><span>Breed:</span><%= @pet.breed %></p>
  <p><span>Age:</span><%= @pet.age %></p>
  <p>
    <span>
    Shelter:
    </span><%= link_to @pet.shelter_name, shelter_path(@pet.shelter) %>
  </p>
  <p class="links">
    <%= link_to "Edit", edit_pet_path(@pet), class: "btn-md hover-blue" %>
    <%= link_to "Delete", pet_path(@pet), class: "btn-md hover-red", method: :delete, data: { confirm: "Are you sure?" } %>
  </p>
</div>
