<div class="block p-2 bg-gray-50 border rounded-md my-4 p-4">
  <h2 class="text-2xl text-gray-600 mb-8 mr-8 inline-block">Details of pet: <%= @pet.name %></h2>
  <p><span class="font-bold w-24 inline-block">Breed:</span><%= @pet.breed %></p>
  <p><span class="font-bold w-24 inline-block">Age:</span><%= @pet.age %></p>
  <p>
    <span class="font-bold w-24 inline-block">
    Shelter:
    </span><%= link_to @pet.shelter_name, shelter_path(@pet.shelter), class: "hover:underline" %>
  </p>
  <p class="links">
    <%= tw_link "Edit", edit_pet_path(@pet), "bg-blue-600 w-32 text-center" %>
    <%= tw_link "Delete", pet_path(@pet), "bg-red-800 w-32", method: :delete, data: { confirm: "Are you sure?" } %>
  </p>
</div>
