<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shelters4pets</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="p-8">
    <%= link_to "Shelters 4 Pets", root_path, class: "text-4xl text-center" %>
    <%= yield %>
  </body>
</html>
