<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shelters 4 Pets</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container w-2/3 mx-auto p-4">
  <h1 class="text-4xl text-center border-b-2 p-4">
    <%= link_to "Shelters 4 Pets", root_path %>
  </h1>
  <div class="mt-8">
    <%= yield %>
  </div>
</div>
</body>
</html>
