<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shelters 4 Pets</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container">
  <header>
    <h1 class="logo">
      <%= link_to "Shelters 4 Pets", root_path %>
    </h1>
    <nav class="links absolute b-0 right-0 m-t-8">
      <%= link_to "Shelters", shelters_path %>
      <%= link_to "Pets", pets_path %>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
</div>
</body>
</html>
